﻿@model List<FilmKitapBilgisi.FilmBilgi>
@{
    ViewBag.Title = "Film";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Film Kategorisi</h2>
<table class=" table table-hover">
    <thead>
        <tr>
            <th>Film Adı</th>
            <th>Film Yönetmeni</th>
            <th>Film Türü</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="@Url.Action("FilmDetay", "Home", new { id = item.filmID })">@item.filmAdi</a></td>
                <td><a href="@Url.Action("FilmDetay", "Home", new { id = item.filmID })">@item.filmYonetmen</a></td>
                <td><span class="label label-primary">@item.filmTur</span></td>
                <td><a class="btn btn-primary" href="@Url.Action("FilmDetay", "Home", new { id = item.filmID })" role="button">Detay</a></td>
            </tr>
        }
    </tbody>
</table>