﻿@model FilmKitapBilgisi.FilmBilgi

@{
    ViewBag.Title = "FilmDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FilmDetay</h2>


<fieldset>
    <legend>KitapBilgi</legend>

    <div class="display-field">
        @Html.DisplayFor(model => model.filmAdi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.filmOyuncular)
    </div>


    <div class="display-field">
        @Html.DisplayFor(model => model.filmYonetmen)
    </div>


    <div class="display-field">
        @Html.DisplayFor(model => model.filmOzet)
    </div>


    <div class="display-field">
        @Html.DisplayFor(model => model.filmDil)
    </div>


    <div class="display-field">
        @Html.DisplayFor(model => model.filmSure)
    </div>


    <div class="display-field">
        @Html.DisplayFor(model => model.filmTur)
    </div>


    <div class="display-field">
        @Html.DisplayFor(model => model.filmYapimYili)
    </div>


    
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
