﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sitemize Hoşgeldiniz!!!</h2>
<div style="margin-left:120px; margin-top:30px;">
    @*<table>
            <tr style="margin-left:180px;">
                <td style="width:200px; height:200px; background-color:rgba(135, 123, 123, 0.88)">

                </td>
                <td style="width:200px; height:200px; background-color:rgba(165, 123, 123, 0.88); margin-left:50px;">

                </td>
            </tr>
        </table>*@

    <h3>Merhaba :</h3><h4>
        <p>Yeni bir kitaba başlamak istiyorsun ama karar veremiyor musun, film seyretmek istiyorsun ama hangisi sana uygun bilmiyor musun öyleyse aramıza hoşgeldin. </p>
    </h4>


</div>