﻿@model List<FilmKitapBilgisi.KitapBilgi>
@{
    ViewBag.Title = "Kitap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kitaplar</h2>
 <table class=" table table-hover">
     <thead>
         <tr>
             <th>Kitap Adı</th>             
             <th>Kitap Yazarı</th>
             <th>Kitap Türü</th>
         </tr>
     </thead>
     <tbody>
         @foreach (var item in Model)
         {
             <tr>
                 <td><a href="@Url.Action("KitapDetay", "Home", new { id = item.kitapID })">@item.kitapAdi</a></td>                 
                 <td><a href="@Url.Action("KitapDetay", "Home", new { id = item.kitapID })">@item.kitapYazar</a></td>
                 <td><span class="label label-primary">@item.kitapTur</span></td>
                 <td><a class="btn btn-primary" href="@Url.Action("KitapDetay", "Home", new { id = item.kitapID })" role="button">Detay</a></td>
             </tr>
         }
     </tbody>
 </table>

