﻿@model FilmKitapBilgisi.KitapBilgi

@{
    ViewBag.Title = "KitapDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>KitapDetay</h2>

<fieldset>
        <legend>KitapBilgi</legend>

        <div class="display-field">
            @Html.DisplayFor(model => model.kitapResim)
        </div>        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapID)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapAdi)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapYazar)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapBasimTarihi)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapYayinevi)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapOzet)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapTur)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapSayfaSayisi)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.ISBN)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapDil)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapResim)
        </div>

        
        <div class="display-field">
            @Html.DisplayFor(model => model.kitapYorum)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
