﻿@model FilmKitapBilgisi.KitapBilgi
@*@model FilmKitapBilgisi.FilmBilgi*@
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.kitapAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapYazar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapOzet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapBasimTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kitapYayinevi)
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.kitapAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.kitapID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ShipperID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ShipperID })
            </td>
        </tr>
    }*@

</table>