﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width ,initial-scale=1.0"/>
    <title>@ViewBag.Title</title>
    <link link id="callCss" rel="stylesheet" href="~/themes/css/bootstrap.min.css" type="text/css" media="screen" />
    <link href="~/themes/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/themes/css/font-awesome.css" rel="stylesheet" />
    <link href="~/themes/css/base.css" rel="stylesheet" />
    <style type="text/css" id="enject"></style>

    @*----*@

    

    @*----*@


</head>

<body style="top: 0px;">
    <section id="headerSection">
        <div class="container">
            <div class="navbar">
                <div class="container">
                    <button type="button" class="btn btn-navbar active" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="brand" href="index.html"> Kitap - Film <small>  Bilgi</small></a></h1>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right" style="top: 0px;">
                            <li class="active">@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                            <li class="">@Html.ActionLink("Kitap","Kitap","Home")</li>
                            <li class="">@Html.ActionLink("Film", "Film", "Home")</li>
                            <li class="">@Html.ActionLink("ÜyeOl", "UyeKayit", "Account")</li>
                            <li class="">@Html.ActionLink("GirişYap", "GirisYap", "Account")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--HEader kısmı bitti.-->
    <section id="carouselSection" style="text-align:center">
        <div id="slide" class="carousel slide" >
            <div class="carousel-inner" >
                <div style="text-align:center" class="item active">
                    
                    <div class="wrapper">

                        <img src="~/Content/image/kaptanamerika.jpg" class="img-rounded" alt="Knowledge website template" width="300" height="200">
                       
                    </div>
                </div>
                <div style="text-align:center" class="item">
                    <div class="wrapper">
                        <img src="~/Content/image/avatar.jpg" class="img-rounded" alt="Knowledge website template" width="300" height="200">                       
                        
                        
                    </div>
                </div>
                <div style="text-align:center" class="item">
        <div class="wrapper">

            <img src="~/Content/image/madmax.jpg" class="img-rounded" alt="Knowledge website template" width="300" height="200">

        </div>
    </div>
    <div style="text-align:center" class="item">
        <div class="wrapper">

            <img src="~/Content/image/kansanati.jpg" class="img-rounded" alt="Knowledge website template" width="300" height="200">

        </div>
    </div>
    <div style="text-align:center" class="item">
        <div class="wrapper">

            <img src="~/Content/image/kucukprens.jpg" class="img-rounded" alt="Knowledge website template" width="300" height="200">

        </div>
    </div>
    <div style="text-align:center" class="item">
        <div class="wrapper">


            <img src="~/Content/image/sefiller.jpg" class="img-rounded" alt="Knowledge website template" width="300" height="200">

        </div>
    </div>
                
            </div>
            
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
    </section>
    <!--Slider bitti.-->

    @*----*@

    


        @*----*@


        <section id="middleSection" style="top: 0px;">
            <div class="container">
                @RenderBody();
            </div>
        </section>
        <!--Orta kısım ilki bitti-->
        @*<section id="bodySection" style="left: 0px;">
                <div class="container">
                    <div class="row">
                        <h3 class="span12" style="text-align:center">Our Recent Work <small>view all projects (200+)</small></h3>
                        <div class="span4">
                            <div class="thumbnail">
                                <h4>Mobile Apps</h4>
                                <a href="portfolio.html"><img src="themes/images/1.jpg" alt="bootstrap business templates"></a>
                                <p>
                                    <br />
                                    We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
                                    We recently introduce cheapest and best mobile web design packages in our services. <br />
                                </p>
                                <div class="btn-toolbar">
                                    <div class="btn-group toolTipgroup">
                                        <a class="btn" href="#" data-placement="right" data-original-title="send email"><i class="icon-envelope"></i></a>
                                        <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                        <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                                        <a class="btn" href="#" data-placement="top" data-original-title="share"><i class="icon-link"></i></a>
                                        <a class="btn" href="portfolio.html" data-placement="left" data-original-title="browse"><i class="icon-globe"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="thumbnail">
                                <h4>Application Development</h4>
                                <a href="portfolio.html"><img src="themes/images/2.jpg" alt="bootstrap business templates"></a>
                                <p>
                                    <br />
                                    We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
                                    We recently introduce cheapest and best mobile web design packages in our services.<br />
                                </p>
                                <div class="btn-toolbar">
                                    <div class="btn-group toolTipgroup">
                                        <a class="btn" href="#" data-placement="right" data-original-title="send email"><i class="icon-envelope"></i></a>
                                        <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                        <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                                        <a class="btn" href="#" data-placement="top" data-original-title="share"><i class="icon-link"></i></a>
                                        <a class="btn" href="portfolio.html" data-placement="left" data-original-title="browse"><i class="icon-globe"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="thumbnail">
                                <h4>My web solutions</h4>
                                <a href="portfolio.html"><img src="themes/images/3.jpg" alt="bootstrap business templates"></a>
                                <p>
                                    <br />
                                    We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
                                    We recently introduce cheapest and best mobile web design packages in our services. <br />
                                </p>
                                <div class="btn-toolbar">
                                    <div class="btn-group toolTipgroup">
                                        <a class="btn" href="#" data-placement="right" data-original-title="send email"><i class="icon-envelope"></i></a>
                                        <a class="btn" href="#" data-placement="top" data-original-title="do you like?"><i class="icon-thumbs-up"></i></a>
                                        <a class="btn" href="#" data-placement="top" data-original-title="dont like?"><i class="icon-thumbs-down"></i></a>
                                        <a class="btn" href="#" data-placement="top" data-original-title="share"><i class="icon-link"></i></a>
                                        <a class="btn" href="portfolio.html" data-placement="left" data-original-title="browse"><i class="icon-globe"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </section>*@
        <!--Orta kısımikincisi bitti-->
        <!--Footerdan önceki en alt-->
        <section id="clientsSection" style="text-align:center; padding:48px 0">
            <div class="container">
                <a href="#" target="_blank"><img src="themes/images/clients/twitterLogo.jpg" alt="business template"></a>
                <a href="#" target="_blank"><img src="themes/images/clients/googleLogo.jpg" alt="business template"></a>
                <a href="#" target="_blank"><img src="themes/images/clients/facebookLogo.jpg" alt="business template"></a>
                <a href="http://mywebsolution.info" target="_blank"><img src="themes/images/clients/my_web_solution.jpg" alt="business template"></a>
            </div>
        </section>

        <!--Footer baslangic-->
        <section id="footerSection">
            <div class="container">
                <footer class="footer well well-small">
                    <div class="row-fluid">
                        <div class="span4">
                            <h4>Newsletter and Subscription</h4>
                            <h5>Our aim</h5>
                            <em>
                                "To provide affordable web design and development services for different devices is our aim,
                                that fully meet your requirements." <br /><br />
                            </em>
                            <h5>What our client say?</h5>
                            <em>
                                " I can confirm, bougth the theme a couple of days afo and it is really fantastic. Very flexible, very good support. I really like it."
                            </em>
                            <br /><br />
                            <h5>Subscription</h5>
                            <form>
                                <div class="input-append">
                                    <input id="appendedInputButton" placeholder="Enter your e-mail" type="text">
                                    <button class="btn btn-warning" type="button">send </button>
                                </div>
                            </form>
                        </div>
                        <div class="span5">
                            <h4>Latest news</h4>
                            <ul class="media-list">
                                <li class="media">
                                    <a class="pull-left" href="blog_details.html">
                                        <img class="media-object" src="themes/images/img64x64.png" alt="bootstrap business template">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Why our customers satisfied?</h5>
                                        "To provide affordable web design and..."<br />
                                        <small><em>November 14, 2012</em> <a href="blog_details.html"> More</a></small>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="blog_details.html">
                                        <img class="media-object" src="themes/images/img64x64.png" alt="bootstrap business template">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Why our customers satisfied?</h5>
                                        "To provide affordable web design and..."<br />
                                        <small><em>November 14, 2012</em> <a href="blog_details.html"> More</a></small>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="blog_details.html">
                                        <img class="media-object" src="themes/images/img64x64.png" alt="bootstrap business template">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Why our customers satisfied?</h5>
                                        "To provide affordable web design and..."<br />
                                        <small><em>November 14, 2012</em> <a href="blog_details.html"> More</a></small>
                                    </div>
                                </li>
                                <li class="media">
                                    <a class="pull-left" href="blog_details.html">
                                        <img class="media-object" src="themes/images/img64x64.png" alt="bootstrap business template">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading">Why our customers satisfied?</h5>
                                        "To provide affordable web design and..."<br />
                                        <small><em>November 14, 2012</em> <a href="blog_details.html"> More</a></small>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="span3">
                            <h4>Visit us</h4>
                            <address style="margin-bottom:15px;">
                                <strong><a href="index.html" title="business"><i class=" icon-home"></i> Business (p.) Ltd. </a></strong><br>
                                194, Vectoria Street, Newwork <br>
                                nw 488, USA<br>
                            </address>
                            Phone: <i class="icon-phone-sign"></i> &nbsp; 00123 456 000 789 <br>
                            Email: <a href="contact.html" title="contact"><i class="icon-envelope-alt"></i> info@companyltd.com</a><br />
                            Link: <a href="index.html" title="Business ltd"><i class="icon-globe"></i> www.businessltd.com</a><br /><br />
                            <h5>Quick Links</h5>
                            <a href="services.html" title="services"><i class="icon-cogs"></i> Services </a><br />
                            <a href="about.html" title=""><i class="icon-info-sign"></i> About us </a><br />
                            <a href="portfolio.html" title="portfolio"><i class="icon-question-sign"></i> Portfolio </a><br />
                            <h5>Find us on</h5>
                            <div style="font-size:2.5em;">
                                <a href="#facebook" role="button" data-toggle="modal" style="display:inline-block; width:1em"> <i class="icon-facebook-sign"> </i> </a>
                                <a href="#twitter" role="button" data-toggle="modal" title="" style="display:inline-block; width:1em"> <i class="icon-twitter-sign"> </i> </a>
                                <a href="#youtube" role="button" data-toggle="modal" style="display:inline-block;width:1em"> <i class="icon-facetime-video"> </i> </a>
                                <a href="#" title="" style="display:inline-block;width:1em"> <i class="icon-google-plus-sign"> </i> </a>
                                <a href="#rss" role="button" data-toggle="modal" style="display:inline-block;width:1em"> <i class="icon-rss"> </i> </a>
                                <!-- Facebook -->
                                <div id="facebook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="facebook" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3>Facebook Header</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>"Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer."</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                        <button class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <!-- Twitter -->
                                <div id="twitter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="twitter" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3>Twitter Header</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>"Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer."</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                        <button class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <!-- Rss feed -->
                                <div id="rss" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="rss" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3>RSS fed header</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p>"Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer."</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                        <button class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                                <!-- Youtube -->
                                <div id="youtube" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="youtube" aria-hidden="true">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h3>Youtube Vedio</h3>
                                    </div>
                                    <div class="modal-body">
                                        Vedios here
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                        <button class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="padding:18px 0 44px">&copy; 2012, allright reserved </p>
                </footer>
            </div><!-- /container -->
        </section>
</body>
</html>
